<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= item.image_url %>
  </p>

  <p>
    <strong>Website url:</strong>
    <%= item.website_url %>
  </p>

  <p>
    <strong>Reservation url:</strong>
    <%= item.reservation_url %>
  </p>

  <p>
    <strong>Book url:</strong>
    <%= item.book_url %>
  </p>

  <p>
    <strong>Menu url:</strong>
    <%= item.menu_url %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= item.phone %>
  </p>

  <p>
    <strong>Venue name:</strong>
    <%= item.venue_name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= item.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= item.end_date %>
  </p>

  <p>
    <strong>Special notes:</strong>
    <%= item.special_notes %>
  </p>

  <p>
    <strong>Custom dates:</strong>
    <%= item.custom_dates %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= item.slug %>
  </p>

  <p>
    <strong>Price quartile:</strong>
    <%= item.price_quartile %>
  </p>

  <p>
    <strong>Cuisine:</strong>
    <%= item.cuisine %>
  </p>

</div>
